# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
api/.pytest_cache

# Flask stuff:
instance/
log/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv

# Visual Studio Code
.vscode/